

<!DOCTYPE html>
<html>
<head>
	<meta name="theme-color" content="#000000" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
	<title>Games | WiFi Gratis</title>
	<link rel="stylesheet" type="text/css" href="./css/game-style.css">

	<meta name="url-ad" content="/bbva.png" />
	<!-- <meta name="url-ad" content="/flyer-ba.png" /> -->
	<!-- <meta name="url-ad" content="/flyer-banamex.jpg" /> -->
	<!-- <meta name="url-ad" content="/flyer-coca-cola.jpg" /> -->
	<!-- <meta name="url-ad" content="/flyer-tp.jpg" /> -->
	<!-- <meta name="url-ad" content="/flyer.marti.jpeg" /> -->
	<!-- <meta name="url-ad" content="/sams.jpg" /> -->
	<!-- <meta name="url-ad" content="/walmart.jpg" /> -->		
	<!-- <meta name="url-ad" content="/epura.jpg" /> -->
	<!-- <meta name="url-ad" content="/flyer-coca-cola.jpg" /> -->


	<meta name="login-url-only" content="http://flyervirtual.connect/login" />
	<meta name="chap-id" content="\172" />
	<meta name="chap-challenge" content="\016\117\171\354\045\027\255\125\266\374\227\153\100\152\226\232" />
	<meta name="dst" content="http://conecta.wifigratis.mx/usuarios/track/1/4/index?lp=aHR0cHM6Ly93aWZpZ3JhdGlzLm14Lw==" />

	<meta name="token" content="eyJhbGciOiJIUzI1NiIsIn" />
	<meta name="best-score" content="0" />
	<meta name="mi-score" content="5" />
	<meta name="user-name" content="Eric" />
	<meta name="level" content="1" />

	<meta name="anuncio-id" content="1" />
	<meta name="game-name" content="moto-extrema" />
	<meta name="anuncio-game-id" content="3" />
	<meta name="user-id" content="4" />

	<meta name="production" content="false" />
	

	<script src="http://localhost:8000/static/js/md5.js"></script>


</head>
<body>

	<div id="render-game"></div>
	<script src="./node_modules/phaser/dist/phaser.js"></script>	
	<!-- <script type="text/javascript" src="./games/moto-extrema/dist/main-min.js?v=0.20"></script> -->
	<script type="text/javascript" src="./games/jetpack/dist/main-min.js?v=0.20"></script>
	<!-- <script type="text/javascript" src="./games/superball/dist/main-min.js?v=0.20"></script> -->

	<form name="sendin" action="http://flyervirtual.connect/login" method="post">
		<input type="hidden" name="username" />
		<input type="hidden" name="password" />
		<input type="hidden" name="dst" value="http://conecta.wifigratis.mx/usuarios/track/1/4/index?lp=aHR0cHM6Ly93aWZpZ3JhdGlzLm14Lw==" />
		<input type="hidden" name="popup" value="false" />
	</form>

	<script>
		window.keywordHex = hexMD5('\172' + "flyer" + '\016\117\171\354\045\027\255\125\266\374\227\153\100\152\226\232');
		function toConnect(){
		document.sendin.username.value = "flyer";
		document.sendin.password.value = hexMD5('{{data_mikrotik.chap_id}}' + "flyer" + '{{data_mikrotik.chap_challenge}}');
		document.sendin.submit();
		return false;						
	}

	function reqListener () {
	  toConnect()
	}

	function sendOutSplash(){
		var oReq = new XMLHttpRequest();
		oReq.addEventListener("load", reqListener);
		oReq.open("GET", '/usuarios/usuario-kpi/{{user_global_id}}/{{anuncio_id}}/' );
		oReq.send();
	}

	function doLogin() {
    	var boxLoad = document.querySelector(".box-wait")
		var permision = document.getElementById("permision");
		console.log(permision.hasAttribute("connection"))
		if ( !permision.hasAttribute("connection") ){
			console.log('NO CONNECT!')
		}else{
			boxLoad.classList.remove('hide-box-fade')
			boxLoad.style.display = 'inline'
			sendOutSplash()
			setTimeout(function(){ toConnect() },5000);
			return false;
		}

		
    }
	</script>
</body>
</html>